<div class='row page-title'>
	<div class='large-4 columns'>
		<h2>Event List</h2>
	</div>
	<div class='large-1 large-offset-3 columns buttons'>
		<%= link_to 'Add', '#', class: 'small button', 'data-reveal-id' => 'new-event' %>
	</div>
</div>

<% @events.each do |event| %>
	<div class='row'>
		<div class='large-6 large-offset-1 columns'>
			<h4><%= event.name %></h4>
			<%= event.date %>
		</div>
	</div>
<% end %>

<div id="new-event" class="reveal-modal">
  <%= render 'new' %>
</div>