/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "fullcalendar.css";
@import "fullcalendar.print.css";


body {
	margin: 0;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
	width: 960px;
	margin: 60px auto 20px auto;

	.fc-header {
		border: none;
	}
}

#header {
	background-color: black;
	height: 75px;
}

footer {
	padding: 15px;
	background-color: #3f3f3f;
	color: white;
	max-width: none !important;

	.footer-left {
		padding-top: 5px;
	}

	.footer-right {
		float: right;

		>ul {
			margin: 0;
		}
	}
}
